.card img{
    background-color: #eee;
    box-shadow: rgba(0,0,0,.25) 0 0 0.5em;
    border-radius: 1.25em;
    height: 300px;
    width: 200px;
}

.card-container .card-deck .card{
    border: none;
}

.footer-wrapper{
    width: 100%;
    position: absolute;
    
    bottom: 0;

    padding: 1rem;
    background-color: #f8f9fa;
    text-align: center;
}

body{
    position: relative;
    padding-bottom: 6rem;
    min-height: 100vh;
}

.voucher-detail-section{
    padding: 20px;
}

.voucher-row{
    padding: 10px;
}

.voucher-type{
    padding-top: 15px;
}

.product-col{
    border: 1px #dbdbdb solid;
    padding: 10px;
}

.product-col > .row{
    padding: 10px;
}

.payment-col{
    background-color: #ededed;
    border: 1px #dbdbdb solid;
    padding: 10px;
}

.cart-section{
    padding-top: 20px;
}

.result-container th{
    text-align: right;
}

.result-container span{
    padding-right: 10px;
    margin-right: 10px;
}